body{
    background-image: url(image/bien2.jpg);
    background-size: cover;

    background-repeat: no-repeat;
    


}
#logo0{
    position: absolute;
    width: 10px;
}
#logo{
    position: absolute;
    left:180px;
    top:60px;
}
#anhdaidien{
        width: 150px;
        position:  absolute;
        left: 5 0px;
        top: 100px;
        border: solid;
        border-radius: 30px;
        border-color: rgb(68, 107, 119);
    
}

#tên{
    position: absolute;
    left: 10px;
    top: 400px;
    color:rgb(11, 32, 126);;
}

#h31{
    position: absolute;
    left: 230px;
    top:130px;
    color:  rgb(11, 32, 126);
    
}
#logo2{
        position: absolute;
        left:850px;
        top:65px;
}

#h32{
    position: absolute;
    left: 890px;
    top:130px;
    color:  rgb(11, 32, 126);
}
#h33{
    position: absolute;
    left: 250px;
    top:420px;
    color:  rgb(11, 32, 126);
}


#fb img{
    display: flex;
    position: absolute;
    left: 1000px;
    top:650px;
}
#zalo img{
    display: flex;
    position: absolute;
    left: 1100px;
    top:650px;
}
#instagram{
    display: flex;
    position: absolute;
    left: 1200px;
    top:650px;
}
#h11{
    
    padding: 5px 5px;
    color: white;
    background-color: #be9b79;
    width: 400px;
    position: absolute;
    left:250px;
    top:50px;
    border-radius: 15px;
}
#h12{
    padding: 5px 5px;
    color: white;
    background-color: #be9b79;
    width: 400px;
    position: absolute;
    left:900px;
    top:50px;
    border-radius: 15px;
}
#h13{
    padding: 5px 5px;
    color: white;
    background-color: #be9b79;
    width: 400px;
    position: absolute;
    left:250px;
    top:350px;
    border-radius: 15px;
}
#h14{
    padding: 5px 5px;
    color: white;
    background-color: #be9b79;
    width: 400px;
    position: absolute;
    left:900px;
    top:350px;
    border-radius: 15px;
}

#java{
    position: absolute;
    width: 100px;
    left: 900px;
    top:450px;
    border-radius: 10px;
    border: solid;
    color: #be9b79;
}
#c2{
    position: absolute;
    width: 100px;
    left: 1020px;
    top:450px;
    border-radius: 10px;
    border: solid;
    color: #be9b79;
}
#cb{
    position: absolute;
    width: 100px;
    left: 1140px;
    top:450px;
    border-radius: 10px;
    border: solid;
    color: #be9b79;
}
footer{
    border-top: 5px solid #333;
    color: black;
    font-weight: bold;
    top:120%;
    line-height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
  
}